
<div class="products-list">
    <h1 class="list-title">Products</h1>
    <div class="list">
        <div *ngFor="let product of productList" class="product" (click)="goToProductDetail(product._id)" class="card"
            style="width: 18rem;">
            <img [src]="product.image" class="card-img-top product-image" alt="{{product.title}}">
            <div class="card-body">
                <h5 class="product-title">{{product.title}}</h5>
                <div class="product-price">
                    <p class="old-price" *ngIf="product.oldPrice"> ${{ product.oldPrice }}</p>
                    <p class="price">${{ product.price }}</p>
                </div>
                <p class="rating"><img src="https://www.plixlife.com/plixlifefc/assets/rating_star.svg" alt=""> Rating:
                    {{
                    product.rating }} / 5</p>
            </div>
        </div>
    </div>
</div>