<div *ngIf="cartItems.length > 0; else emptyCart">
    <h2>Your Cart</h2>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col product-cart" >
                <div *ngFor="let item of cartItems" class="card mb-4 rounded-3 shadow-sm cart-item" >
                    <img [src]="item.image" class="card-img-top product-image" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="product-title">{{ item.title }}</h5>
                        <div class="product-price">
                            <p class="price">${{ item.price }}</p>
                        </div>
                        <p class="rating">
                            <img src="https://www.plixlife.com/plixlifefc/assets/rating_star.svg" alt="rating star">
                            Rating: {{ item.rating }} / 5
                        </p>
                        <div class="quantity-controls">
                            <button (click)="decreaseQuantity(item)" class="btn btn-secondary btn-sm">-</button>
                            <span class="quantity mx-2">{{ item.quantity }}</span>
                            <button (click)="increaseQuantity(item)" class="btn btn-secondary btn-sm">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</div>

<ng-template #emptyCart>
    <h2>Your cart is empty!</h2>
    <a routerLink="/products" class="btn btn-primary">Continue Shopping</a>
</ng-template>