<div class="signup container">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="mb-3" >
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="mb-3" >
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
        <span>Already have an account? 
        <a routerLink="/login">Login</a></span>
    </form>
</div>
